cohere==5.3.3
datasets==2.14.6
faiss_cpu==1.8.0
fschat==0.2.32
nltk==3.8.1
numpy==1.24.3
openai==0.28.1
peft==0.6.0
pyserini==0.22.1
PyYAML==6.0.1
rank_bm25==0.2.2
rouge==1.0.1
setuptools==68.0.0
spacy==3.7.4
tiktoken==0.6.0
torch==2.2.1
tqdm==4.66.1
transformers==4.40.0
vllm==0.4.1
voyageai==0.2.2
