datasets
base58
nltk
numpy
langid
openai
peft
PyYAML
rank_bm25
rouge
spacy
tiktoken
torch
tqdm
transformers>=4.40.0
bm25s[core]==0.2.0
fschat
streamlit
chonkie>=1.0.2, <1.1.0
gradio>=5.0.0
rouge-chinese
jieba
